{% if pagination.pages > 0 %}
  <nav role="navigation" aria-label="Pagination" class="flex justify-center my-8 space-x-2">
    {% if pagination.previous %}
      <a
        href="{{ pagination.previous.url }}"
        class="btn-link border border-blue-600 text-blue-600 hover:text-white hover:bg-blue-600 px-8 py-3 mx-1 rounded-lg font-medium shadow-md transition duration-300 ease-in-out focus:outline-none"
      >
        {{- pagination.previous.title -}}
      </a>
    {% endif %}

    {% for part in pagination.parts %}
      {% if part.is_link %}
        <a
          href="{{ part.url }}"
          class="btn-link border border-blue-600 text-blue-600 hover:text-white hover:bg-blue-600 px-8 py-3 mx-1 rounded-lg font-medium shadow-md transition duration-300 ease-in-out focus:outline-none"
        >
          {{- part.title -}}
        </a>
      {% else %}
        <span
          class="btn-link border border-blue-600 text-white bg-blue-600 px-8 py-3 mx-1 rounded-lg font-medium shadow-md transition duration-300 ease-in-out focus:outline-none"
        >
          {{- part.title -}}
        </span>
      {% endif %}
    {% endfor %}

    {% if pagination.next %}
      <a
        href="{{ pagination.next.url }}"
        class="btn-link border border-blue-600 text-blue-600 hover:text-white hover:bg-blue-600 px-8 py-3 mx-1 rounded-lg font-medium shadow-md transition duration-300 ease-in-out focus:outline-none"
      >
        {{- pagination.next.title -}}
      </a>
    {% endif %}
  </nav>
{% endif %}
