<div class="py-8">
  {% paginate blog.articles by section.settings.number_of_blog_posts %}
    <h1 class="text-center text-xl">
      {{ blog.title }}
    </h1>

    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for article in blog.articles %}
          <div class="w-full py-6 px-3">
            <div class="bg-white shadow-xl rounded-lg overflow-hidden">
              {% if article.image %}
                <a href="{{ article.url }}">
                  <img
                    class="w-full h-80 object-cover object-center"
                    src="{{article.image | img_url: 'medium'}}"
                    alt="{{article.image.alt}}"
                    width="300"
                    height="300"
                ></a>
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'w-full h-80 object-cover object-center bg-gray-200' }}
              {% endif %}

              <div class="p-4">
                <h1 class="text-xl font-medium my-4">{{ article.title }}</h1>

                {% if article.excerpt.size > 0 %}
                  <p>{{ article.excerpt | strip_html | truncatewords: 15 }}</p>
                {% else %}
                  <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
                {% endif %}
                <div class="my-4">
                  <a
                    href="{{ article.url }}"
                    class="btn-link font-medium text-white bg-blue-600 hover:bg-blue-700 hover:transition-all hover:duration-500 px-4 py-2 rounded inline-block"
                  >
                    {{ section.settings.blog_read_more }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="max-w-6xl mx-auto">
      {% render 'pagination', pagination: paginate %}
    </div>
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "text",
      "id": "blog_read_more",
      "label": "Read more label",
      "default": "Read more"
    },
    {
      "type": "range",
      "id": "number_of_blog_posts",
      "step": 1,
      "min": 1,
      "max": 6,
      "default": 3,
      "label": "Blog of blog posts"
    }
  ]
}
{% endschema %}
